<VirtualHost *:81>
    DocumentRoot /var/www/online-app
    DirectoryIndex index.html

    <Directory /var/www/online-app>
        Order allow,deny
        Allow from all
    </Directory>
    

    ProxyPreserveHost On
    ProxyPass /api/ http://10.0.2.202:8086/
    ProxyPassReverse /api/ http://10.0.2.202:8086/

    ErrorLog  "/var/log/pm-online-error.log"
    LogLevel warn
    CustomLog "/var/log/pm-online-access.log" combined

</VirtualHost>
